*.foreground:  #f8f8f2
*.background:  #1e1f29
*.cursorColor: #bbbbbb
!
! Black
*.color0:      #000000
*.color8:      #555555
!
! Red
*.color1:      #ff5555
*.color9:      #ff5555
!
! Green
*.color2:      #50fa7b
*.color10:     #50fa7b
!
! Yellow
*.color3:      #f1fa8c
*.color11:     #f1fa8c
!
! Blue
*.color4:      #bd93f9
*.color12:     #bd93f9
!
! Magenta
*.color5:      #ff79c6
*.color13:     #ff79c6
!
! Cyan
*.color6:      #8be9fd
*.color14:     #8be9fd
!
! White
*.color7:      #bbbbbb
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:

! URxvt

urxvt.termName: rxvt-256color
urxvt.scrollBar: false
urxvt.internalBorder: 10
urxvt.font: -*-terminus-medium-r-*-*-12-*-*-*-*-*-*-* 
!urxvt.font: xft:scientifica:size=11 (waiting for bigger scale.. :P )
!urxvt.letterSpace: 1
!urxvt.font: xft:DejaVu Sans Mono:size=11
urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/xdg-open 
urxvt.matcher.button: 1
urxvt.matcher.rend.0: Uline Bold fg3

! 2BWM

twobwm.border_width: 8
twobwm.outer_border: 6
!twobwm.focus_color: base02
!twobwm.unfocus_color: base01
!twobwm.fixed_color: base0D
!twobwm.unkill_color: base08
!twobwm.fixed_unkill_color: base0E
!twobwm.outer_border_color: base00
twobwm.inverted_colors: true

! DPI / Font

Xft.dpi: 96
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

